@import"./node_modules/bootstrap/scss/bootstrap.scss";

$primary: #5265e1;
$secondary: #fa5959;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);


$accordion-icon-active-color: $secondary;

/*.btn-login:active {
    background-color: white; /* Cambia el color de fondo cuando el botón esté activo */
    /*border-color: $secondary; /* Cambia el color del borde cuando el botón esté activo */
   /* color: $secondary; /* Cambia el color del texto a blanco cuando el botón esté activo 
    border: 1px solid $secondary;
} */


.btn-secondary{
background-color: $secondary;
border-color: $body-bg;}

.btn-primary:hover {
	color: $primary;
	background-color: $body-bg;
	border-color: $primary;
}

.btn-secondary:hover {
	color: $secondary;
	background-color: $body-bg;
	border-color: $secondary;
}

.btn-firefox:hover{
	color: $dark;
	background-color: $body-bg;
	border-color: $dark;
}


.img-main {
    position: relative;
    z-index: 1;
}

.blue-right-shadow {
	position: absolute;
	z-index: -1;
	width: 85%;
	height: 70%;
	top: 35%;
	/*right: -25%;*/
    left: 30%;
    background: #5265E1;
    border-bottom-left-radius: 8rem;
}

.blue-left-shadow {
	position: absolute;
	z-index: -1;
	width: 130%;
	height: 80%;
	top: 35%;
	right: 10%;
    background: #5265E1;
	border-bottom-right-radius: 8rem;
}

#cards {
    display: flex;
    height: 550px;
    justify-content: center;
}

#cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% / 4);
    height: 80%;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 2px rgb(121, 119, 119);
    margin: 20px;
}

#chrome{  
    align-self: flex-start;
}

#firefox{
    align-self: center;
}

#opera{
    align-self: flex-end;
}

